<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

  
    <div class="alert alert-danger" role="alert">
        404 NOT FOUND!!
      </div>

<%- include('./partials/footer.ejs') %>
