    <%- include('./partials/head.ejs') %>
    <%- include('./partials/nav.ejs') %>
  

    <div class="container-fluid main-bg" id="home">
      <div class="index-img-wrapper container">
        <div class="row" style="height:calc(100vh - 56px); overflow-y: hidden;">
          <div class="col-md-5 d-flex flex-column align-items-center justify-content-center">
            <div>
              <h3 class="txt-dark home__headline">Create Awesome Blogs!</h3>
              <h2 class="home__subheadline txt-purple">Share your thoughts and speak your mind freely</h2>
              <a href="/login">
                <span class="badge rounded-pill bg-danger bg-magenta fs-6 p-2 mt-4 cursor-pointer">Get Started</span>
              </a>
            </div>
          </div>
          <div class="col-md-7 d-flex flex-column align-items-center justify-content-center">
            <div>
              <img src="/images/blog-home-lottie-bg-transparent.gif" class="w-100 rounded-3 " alt="blogzy home image">
            </div>
          </div>
        </div>
      </div>
    </div>


    <%- include('./partials/footer.ejs') %>
