    <%- include('./partials/head.ejs') %>
    <%- include('./partials/nav.ejs') %>
  

    <div class="container-fluid main-bg" id="home">
      <div class="index-img-wrapper container">
        <div class="row" style="height:calc(100vh - 56px); overflow-y: hidden;">
          <div class="col-md-5 d-flex flex-column align-items-center justify-content-center">
            <div>
              <h3 class="txt-white">Create Awesome Blogs!!</h3>
              <h2 class="txt-white">Share your thoughts and speak your mind freely</h2>
            </div>
          </div>
          <div class="col-md-7 d-flex flex-column align-items-center justify-content-center">
            <iframe src="https://embed.lottiefiles.com/animation/77671" style="height: 100%;"></iframe>
          </div>
        </div>
      </div>
    </div>


    <%- include('./partials/footer.ejs') %>
