.put-in-center{
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.main-bg{
    background: #e0ffff;
    background: url('/images/home-bg-img.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
  

.txt-purple{
    color:#4c394f;
}

.bg-magenta{
    background-color: magenta;
}